---
import BaseHead from '../components/BaseHead.astro';
import IconFrame from '../components/IconFrame.astro';

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

console.log("props: " + JSON.stringify(Astro.props))

const {
	content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<main>
			<article>
                <div id="article-head">
                    <IconFrame title={title} />
                </div>

				<h1 class="title">{title}</h1>
				{pubDate && <time>{pubDate}</time>}
				{
					updatedDate && (
						<div>
							Last updated on <time>{updatedDate}</time>
						</div>
					)
				}
				<hr />
				<slot />
			</article>
		</main>
	</body>
</html>

<style>
    .title {
        font-size: 2em;
        margin: 0.25em 0 0;
    }
    hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
    }

    #article-head {
        display: inline-flex;
        width: 100%;
        padding: 20px;
        background-color: blueviolet;
        /* background-image: {heroImage}; */
    }
</style>